<template>
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Component</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Volume</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in componentList">
            <td>{{ entry.component.name }}</td>
            <td>{{ entry.quantity }}</td>
            <td>{{ weight(entry.component.weight * entry.quantity) }}</td>
            <td>{{ volume(entry.component.volume * entry.quantity) }}</td>
        </tr>
        <tr>
            <th>Total:</th>
            <th>{{ componentCount }} Components</th>
            <th>{{ weight(0) }}</th>
            <th>{{ volume(0) }}</th>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "PlannerComponents",
        props: ["componentList"],
        computed: {
            componentCount() {
                let count = 0;
                this.componentList.forEach(entry => {
                    count += entry.quantity;
                });
                return count;
            },
        }
    }
</script>