<template>
    <div>
        <div class="row">
            <div class="form-group col-2">
                <label>Yield Modules:</label>
                <select v-model="yield" class="form-control">
                    <option :value="0">None</option>
                    <option :value="1">One</option>
                    <option :value="2">Two</option>
                    <option :value="3">Three</option>
                    <option :value="4">Four</option>
                </select>
            </div>
        </div>
        <table class="table table-sm table-striped">
            <thead>
            <tr>
                <th>Ore</th>
                <th>Quantity</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in oreList">
                <td>{{ entry.ore.name }}</td>
                <td>{{ entry.quantity.toFixed(3) }}</td>
                <td>{{ weight(entry.ore.weight * entry.quantity) }}</td>
                <td>{{ volume(entry.ore.volume * entry.quantity) }}</td>
            </tr>
            <tr>
                <th>Total:</th>
                <th>{{ oreCount.toFixed(3) }} Ore</th>
                <th>{{ weight(0) }}</th>
                <th>{{ volume(0) }}</th>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "PlannerOre",
        props: ["materialList"],
        data() {
            return {
                yield: 0
            }
        },
        computed: {
            oreList() {
                return this.SETools.BuildPlanner.GenerateOreList(this.materialList, this.yield);
            },
            oreCount() {
                let count = 0;
                this.oreList.forEach(entry => {
                    count += entry.quantity;
                });
                return count;
            },
        }
    }
</script>