<template>
    <table class="table table-sm table-striped">
        <thead>
        <tr>
            <th>Material</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Volume</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="entry in materialList">
            <td>{{ entry.material.name }}</td>
            <td>{{ entry.quantity.toFixed(3) }}</td>
            <td>{{ weight(entry.material.weight * entry.quantity) }}</td>
            <td>{{ volume(entry.material.volume * entry.quantity) }}</td>
        </tr>
        <tr>
            <th>Total:</th>
            <th>{{ materialCount }} Materials</th>
            <th>{{ weight(0) }}</th>
            <th>{{ volume(0) }}</th>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "PlannerMaterials",
        props: ["materialList"],
        computed: {
            materialCount() {
                let count = 0;
                this.materialList.forEach(entry => {
                    count += entry.quantity;
                });
                return count;
            },
        }
    }
</script>