<template>
    <div>
        <div v-if="loaded">
            <h2><strong>{{ title }}</strong> <em><small>// Block<small>.{{ block.gridType.id }}</small></small></em></h2>
            <div>
                This is a buildable block in Space Engineers.
            </div>
            <hr>
            <h3>Information</h3>
            <div class="row">
                <div class="form-group col-2">
                    <label>Amount:</label>
                    <input v-model="amount" class="form-control">
                </div>
            </div>
            <div>
                <p>
                    <strong>Weight:</strong> {{ weight(SpaceEngineers.Services.Block.GetWeight(block, amount)) }}
                </p>
                <p>
                    <strong>Grid Type:</strong> {{ block.gridType.name }}
                </p>
            </div>
            <hr>
            <h3><strong>Uses</strong></h3>
            <p class="text-muted">
                Amounts based on given number of blocks above.
            </p>
            <hr>
            <h4>Components required:</h4>
            <BlockRequirements :block="block" :amount="amount"/>
            </div>
        <div v-else>
            <h2><strong>{{ title }}</strong> <em>// Not Found</em></h2>
            <p class="lead">
                Hmm, couldn't seem to find anything about this... F.
            </p>
        </div>
    </div>
</template>

<script>
    import BlockRequirements from "../components/BlockRequirements";
    export default {
        name: "Block",
        components: {BlockRequirements},
        data() {
            return {
                loaded: false,
                title: "",
                block: {},
                amount: 1,
            }
        },
        watch: {
            $route(to, from) {
                if (to.params.block !== from.params.block) {
                    this.load();
                }
            }
        },
        methods: {
            load() {
                let block = this.$route.params.block;
                if (block in this.SpaceEngineers.Blocks) {
                    this.block = this.SpaceEngineers.Blocks[block];
                    this.title = this.block.name;
                    this.loaded = true;
                }
            }
        },
        mounted() {
            this.load();
        }
    }
</script>

<style lang="scss" scoped>
    em {
        color: #999999;
    }
</style>