<template>
    <div>
        <h2>Blocks</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Grid Type</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="block in blocks" class="clickable" @click="navigate(block.href)">
                <td>{{ block.name }}</td>
                <td>{{ block.gridType }}</td>
                <td>{{ block.weight }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Blocks",
        computed: {
            blocks() {
                let keys = Object.keys(this.SpaceEngineers.Blocks);
                return keys.map(key => {
                    let block = this.SpaceEngineers.Blocks[key];
                    return {
                        name: block.name,
                        href: '/Blocks/' + key,
                        gridType: block.gridType.name,
                        weight: this.weight(this.SpaceEngineers.Services.Block.GetWeight(block, 1)),
                    };
                });
            }
        },
        methods: {
            navigate(href) {
                this.$router.push(href);
            }
        }
    }
</script>