<template>
    <div>
        <h2>Build Planner <em><small>// App</small></em></h2>
        <p class="text-muted lead">
            Use this tool to help determine informational stats about a build.
        </p>
        <hr>
        <h4>Build Information</h4>
        <div class="row">
            <div class="form-group col-3">
                <label>Build Name:</label>
                <input v-model="name" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-3">
                <label>Grid Type:</label>
                <select v-model="gridType" class="form-control">
                    <option v-for="grid in SpaceEngineers.GridTypes" :value="grid">{{ grid.name }}</option>
                </select>
                <small class="form-text text-muted">Changing grid type will erase build!</small>
            </div>
        </div>
        <h4>Blocks</h4>
        <div class="row">
            <div class="form-group col-3">
                <label>Add Block:</label>
                <input v-model="blockSearch" class="form-control">
            </div>
        </div>
        <div class="row">
            <div v-for="block in blocksFromSearch" class="col-3">
                <div class="block-tile">
                    <div>
                        <strong>{{ block.name }}</strong>
                    </div>
                    <div>
                        {{ weight(SpaceEngineers.Services.Block.GetWeight(block, 1)) }}
                    </div>
                    <div>
                        <button class="btn btn-info" v-if="!blockIsAdded(block)" @click="addBlock(block)">Add Block</button>
                        <button class="btn btn-success" v-if="blockIsAdded(block)" disabled>Added</button>
                    </div>
                </div>
            </div>
        </div>
        <h5>Current Blueprint</h5>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Block</th>
                <th>Quantity</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in blocks">
                <td>{{ entry.block.name }}</td>
                <td>
                    <div class="form-row">
                        <div class="col-md-2">
                            <input v-model="entry.quantity" class="form-control">
                        </div>
                    </div>
                </td>
                <td>{{ weight(SpaceEngineers.Services.Block.GetWeight(entry.block, entry.quantity)) }}</td>
            </tr>
            <tr>
                <th>Total:</th>
                <th>0 Blocks</th>
                <th>{{ weight(0) }}</th>
            </tr>
            </tbody>
        </table>
        <hr>
        <h4>Build Breakdown</h4>
        <h5>Component Requirements:</h5>
        <PlannerComponents :component-list="componentList"/>
        <h5>Material Requirements:</h5>
        <PlannerMaterials :material-list="materialList"/>
        <h5>Ore Requirements:</h5>
        <PlannerOre :material-list="materialList"/>
    </div>
</template>

<script>
    import PlannerComponents from "../components/planner/PlannerComponents";
    import PlannerMaterials from "../components/planner/PlannerMaterials";
    import PlannerOre from "../components/planner/PlannerOre";
    export default {
        name: "BuildPlanner",
        components: {PlannerOre, PlannerMaterials, PlannerComponents},
        data() {
            return {
                name: "",
                gridType: null,
                blockSearch: "",
                blocks: [],
                genericLightArmorBlocks: 0,
                genericHeavyArmorBlocks: 0
            }
        },
        watch: {
            gridType(to, from) {
                if (to !== from) {
                    this.name = "";
                    this.blockSearch = "";
                    this.blocks = [];
                }
            }
        },
        computed: {
            blocksFromSearch() {
                if (this.blockSearch) {
                    return this.SETools.BuildPlanner.SearchBlocks(this.blockSearch, this.gridType);
                }
                return [];
            },
            componentList() {
                return this.SETools.BuildPlanner.GenerateComponentList(this.blocks);
            },
            materialList() {
                return this.SETools.BuildPlanner.GenerateMaterialList(this.componentList);
            },
        },
        methods: {
            blockIsAdded(block) {
                let found = false;
                this.blocks.forEach(entry => {
                    if (block === entry.block) {
                        found = true;
                    }
                });
                return found;
            },
            addBlock(block) {
                this.blocks.push({
                    block,
                    quantity: 1
                });
            }
        },
        mounted() {
            this.gridType = this.SpaceEngineers.GridTypes.SmallGrid;
        }
    }
</script>

<style lang="scss" scoped>
    em {
        color: #999999;
    }

    .block-tile {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #999999;
        border-radius: 15px;
        text-align: center;
    }
</style>