<template>
    <div>
        <div v-if="loaded">
            <h2><strong>{{ title }}</strong> <em><small>// Component</small></em></h2>
            <div>
                This is a component in Space Engineers.
            </div>
            <hr>
            <h3>Information</h3>
            <div class="row">
                <div class="form-group col-2">
                    <label>Amount:</label>
                    <input v-model="amount" class="form-control">
                </div>
            </div>
            <div>
                <p>
                    <strong>Weight:</strong> {{ weight(craftComponent.weight * amount) }}
                </p>
                <p>
                    <strong>Volume:</strong> {{ volume(craftComponent.volume * amount) }}
                </p>
            </div>
            <hr>
            <h3><strong>Uses</strong></h3>
            <p class="text-muted">
                Amounts based on given number of components above.
            </p>
            <hr>
            <h4>Materials required:</h4>
            <CraftComponentRequirements :craft-component="craftComponent" :amount="amount"/>
            <hr>
            <h4>Can build:</h4>
            <Building :component="craftComponent" :amount="amount"/>
        </div>
        <div v-else>
            <h2><strong>{{ title }}</strong> <em>// Not Found</em></h2>
            <p class="lead">
                Hmm, couldn't seem to find anything about this... F.
            </p>
        </div>
    </div>
</template>

<script>
    import CraftComponentRequirements from "../components/CraftComponentRequirements";
    import Building from "../components/Building";
    export default {
        name: "CraftComponent",
        components: {Building, CraftComponentRequirements},
        data() {
            return {
                loaded: false,
                title: "",
                craftComponent: {},
                amount: 1,
            }
        },
        watch: {
            $route(to, from) {
                if (to.params.component !== from.params.component) {
                    this.load();
                }
            }
        },
        methods: {
            load() {
                let component = this.$route.params.component;
                if (component in this.SpaceEngineers.Components) {
                    this.craftComponent = this.SpaceEngineers.Components[component];
                    this.title = this.craftComponent.name;
                    this.loaded = true;
                }
            }
        },
        mounted() {
            this.load();
        }
    }
</script>

<style lang="scss" scoped>
    em {
        color: #999999;
    }
</style>