<template>
    <div>
        <h2>Components</h2>
        <ItemList category="Components"/>
    </div>
</template>

<script>
    import ItemList from "../components/ItemList";
    export default {
        name: "Components",
        components: { ItemList }
    }
</script>