<template>
    <div>
        <div v-if="loaded">
            <h2><strong>{{ title }}</strong> <em><small>// Material</small></em></h2>
            <div>
                This is a material in Space Engineers.
            </div>
            <hr>
            <h3>Information</h3>
            <div class="row">
                <div class="form-group col-2">
                    <label>Amount:</label>
                    <input v-model="amount" class="form-control">
                </div>
            </div>
            <div>
                <p>
                    <strong>Weight:</strong> {{ weight(material.weight * amount) }}
                </p>
                <p>
                    <strong>Volume:</strong> {{ volume(material.volume * amount) }}
                </p>
            </div>
            <hr>
            <h3><strong>Uses</strong></h3>
            <p class="text-muted">
                Amounts based on given amount of material above.
            </p>
            <hr>
            <h4>Ore required:</h4>
            <MaterialRequirements :material="material" :amount="amount"/>
            <hr>
            <h4>Can be assembled into:</h4>
            <Assembling :material="material" :amount="amount"/>
        </div>
        <div v-else>
            <h2><strong>{{ title }}</strong> <em>// Not Found</em></h2>
            <p class="lead">
                Hmm, couldn't seem to find anything about this... F.
            </p>
        </div>
    </div>
</template>

<script>
    import MaterialRequirements from "../components/MaterialRequirements";
    import Assembling from "../components/Assembling";
    export default {
        name: "Material",
        components: {Assembling, MaterialRequirements},
        data() {
            return {
                loaded: false,
                title: "",
                material: {},
                amount: 1,
            }
        },
        watch: {
            $route(to, from) {
                if (to.params.material !== from.params.material) {
                    this.load();
                }
            }
        },
        methods: {
            load() {
                let material = this.$route.params.material;
                if (material in this.SpaceEngineers.Materials) {
                    this.material = this.SpaceEngineers.Materials[material];
                    this.title = this.material.name;
                    this.loaded = true;
                }
            }
        },
        mounted() {
            this.load();
        }
    }
</script>

<style lang="scss" scoped>
    em {
        color: #999999;
    }
</style>