<template>
    <div>
        <h2>Materials</h2>
        <ItemList category="Materials"/>
    </div>
</template>

<script>
    import ItemList from "../components/ItemList";
    export default {
        name: "Materials",
        components: { ItemList }
    }
</script>