<template>
    <section>
        <h1>404</h1>
        <p class="lead">This page could not be found. #RIP</p>
    </section>
</template>

<script>
    export default {
        name: "NotFound"
    }
</script>

<style scoped>

</style>