<template>
    <div>
        <div v-if="loaded">
            <h2><strong>{{ title }}</strong> <em><small>// Ore</small></em></h2>
            <div>
                This is an ore found in Space Engineers.
            </div>
            <hr>
            <h3>Information</h3>
            <div class="row">
                <div class="form-group col-2">
                    <label>Amount:</label>
                    <input v-model="amount" class="form-control">
                </div>
            </div>
            <div>
                <p>
                    <strong>Weight:</strong> {{ weight(ore.weight * amount) }}
                </p>
                <p>
                    <strong>Volume:</strong> {{ volume(ore.volume * amount) }}
                </p>
            </div>
            <hr>
            <h3><strong>Uses</strong></h3>
            <p class="text-muted">
                Amounts based on given amount of ore above.
            </p>
            <hr>
            <h4>Can be refined into:</h4>
            <Refinery :ore="ore" :amount="amount"/>
        </div>
        <div v-else>
            <h2><strong>{{ title }}</strong> <em>// Not Found</em></h2>
            <p class="lead">
                Hmm, couldn't seem to find anything about this... F.
            </p>
        </div>
    </div>
</template>

<script>
    import Refinery from "../components/Refinery";
    export default {
        name: "Ore",
        components: {Refinery},
        data() {
            return {
                loaded: false,
                title: "",
                ore: {},
                amount: 1,
            }
        },
        watch: {
            $route(to, from) {
                if (to.params.ore !== from.params.ore) {
                    this.load();
                }
            }
        },
        methods: {
            load() {
                this.title = this.$route.params.ore;
                if (this.title in this.SpaceEngineers.Ores) {
                    this.ore = this.SpaceEngineers.Ores[this.title];
                    this.loaded = true;
                }
            }
        },
        mounted() {
            this.load();
        }
    }
</script>

<style lang="scss" scoped>
    em {
        color: #999999;
    }
</style>