<template>
    <div>
        <h2>Ores</h2>
        <ItemList category="Ores"/>
    </div>
</template>

<script>
    import ItemList from "../components/ItemList";
    export default {
        name: "Ores",
        components: { ItemList }
    }
</script>