<template>
    <div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="showAll">
            <label class="form-check-label mb-1">
                Show all possible components (even if the material amount is not enough to assemble at least one).
            </label>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Component</th>
                <th>Amount</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="assembled in components" v-show="assembled.amount > 0 || showAll"
                class="clickable" @click="$router.push('/Components/' + assembled.component.id)">
                <td>{{ assembled.component.name }}</td>
                <td>{{ assembled.amount }}</td>
                <td>{{ weight(assembled.amount * assembled.component.weight) }}</td>
                <td>{{ volume(assembled.amount * assembled.component.volume) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Assembling",
        props: ["material", "amount"],
        data() {
            return {
                showAll: false
            }
        },
        computed: {
            components() {
                return this.SpaceEngineers.Services.Material.Assemble(this.material, this.amount);
            }
        }
    }
</script>