<template>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Component</th>
                <th>Amount</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="build in components" class="clickable" @click="$router.push('/Component/' + build.component.id)">
                <td>{{ build.component.name }}</td>
                <td>{{ build.amount }}</td>
                <td>{{ weight(build.amount * build.component.weight) }}</td>
                <td>{{ volume(build.amount * build.component.volume) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "BlockRequirements",
        props: ["block", "amount"],
        computed: {
            components() {
                return this.SpaceEngineers.Services.Block.Requires(this.block, this.amount);
            }
        }
    }
</script>