<template>
    <div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" v-model="showAll">
            <label class="form-check-label mb-1">
                Show all possible blocks (even if the component amount is not enough to assemble at least one).
            </label>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>Block</th>
                <th>Grid Type</th>
                <th>Amount</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="built in blocks" v-show="built.amount > 0 || showAll"
                class="clickable" @click="$router.push('/Blocks/' + built.block.gridType + '/' + built.block.id)">
                <td>{{ built.block.name }}</td>
                <td>{{ built.block.gridType.name }}</td>
                <td>{{ built.amount }}</td>
                <td>{{ weight(SpaceEngineers.Services.Block.GetWeight(built.block, built.amount)) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Building",
        props: ["component", "amount"],
        data() {
            return {
                showAll: false
            }
        },
        computed: {
            blocks() {
                return this.SpaceEngineers.Services.Component.Build(this.component, this.amount);
            }
        }
    }
</script>