<template>
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Material</th>
                <th>Amount</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="unassembled in materials" class="clickable" @click="$router.push('/Materials/' + unassembled.material.id)">
                <td>{{ unassembled.material.name }}</td>
                <td>{{ unassembled.amount.toFixed(3) }}</td>
                <td>{{ weight(unassembled.amount * unassembled.material.weight) }}</td>
                <td>{{ volume(unassembled.amount * unassembled.material.volume) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "CraftComponentRequirements",
        props: ["craftComponent", "amount"],
        computed: {
            materials() {
                return this.SpaceEngineers.Services.Component.Requires(this.craftComponent, this.amount);
            }
        }
    }
</script>