<template>
    <div>
        <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Weight</th>
            <th>Volume</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in items" class="clickable" @click="navigate(item.href)">
            <td>{{ item.name }}</td>
            <td>{{ item.weight }}</td>
            <td>{{ item.volume }}</td>
        </tr>
        </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "ItemList",
        props: [ 'category' ],
        computed: {
            items() {
                let keys = Object.keys(this.SpaceEngineers[this.category]);
                return keys.map(key => {
                    let item = this.SpaceEngineers[this.category][key];
                    return {
                        name: item.name,
                        href: '/' + this.category +'/' + key,
                        weight: this.weight(item.weight),
                        volume: this.weight(item.volume),
                    };
                });
            }
        },
        methods: {
            navigate(href) {
                this.$router.push(href);
            }
        }
    }
</script>