<template>
    <div>
        <div class="row">
            <div class="form-group col-2">
                <label>Yield Modules:</label>
                <select v-model="yield" class="form-control">
                    <option :value="0">None</option>
                    <option :value="1">One</option>
                    <option :value="2">Two</option>
                    <option :value="3">Three</option>
                    <option :value="4">Four</option>
                </select>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Ore</th>
                <th>Amount</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="unrefined in ores" class="clickable" @click="$router.push('/Ores/' + unrefined.ore.id)">
                <td>{{ unrefined.ore.name }}</td>
                <td>{{ unrefined.amount.toFixed(3) }}</td>
                <td>{{ weight(unrefined.amount * unrefined.ore.weight) }}</td>
                <td>{{ volume(unrefined.amount * unrefined.ore.volume) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "MaterialRequirements",
        props: ["material", "amount"],
        data() {
            return {
                yield: 0
            }
        },
        computed: {
            ores() {
                return this.SpaceEngineers.Services.Material.Requires(this.material, this.amount, this.yield);
            }
        }
    }
</script>