<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <router-link to="/" class="navbar-brand">SE Tools</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarOresDropdown" data-toggle="dropdown">
                            Ores
                        </a>
                        <div class="dropdown-menu">
                            <router-link v-for="link in makeLinks('Ores')" class="dropdown-item" :to="link.href">
                                {{ link.name }}
                            </router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarMaterialsDropdown" data-toggle="dropdown">
                            Materials
                        </a>
                        <div class="dropdown-menu">
                            <router-link v-for="link in makeLinks('Materials')" class="dropdown-item" :to="link.href">
                                {{ link.name }}
                            </router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarComponentsDropdown" data-toggle="dropdown">
                            Components
                        </a>
                        <div class="dropdown-menu">
                            <router-link v-for="link in makeLinks('Components')" class="dropdown-item" :to="link.href">
                                {{ link.name }}
                            </router-link>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarBlocksDropdown" data-toggle="dropdown">
                            Blocks
                        </a>
                        <div class="dropdown-menu">
                            <router-link v-for="link in blockLinks" class="dropdown-item" :to="link.href">
                                {{ link.name }}
                            </router-link>
                        </div>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="/Apps/BuildPlanner">
                            Build Planner
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>

<script>
    export default {
        name: "Navbar",
        computed: {
            blockLinks() {
                let keys = Object.keys(this.SpaceEngineers.Blocks);
                keys.sort();
                let links = keys.map(key => {
                    let block = this.SpaceEngineers.Blocks[key];
                    return {
                        name: '(' + block.gridType.name + ') ' + block.name,
                        href: '/Blocks/' + key
                    };
                });
                links.unshift({
                    name: 'All',
                    href: '/Blocks'
                });
                return links;
            }
        },
        methods: {
            makeLinks(category) {
                let keys = Object.keys(this.SpaceEngineers[category]);
                keys.sort();
                let links = keys.map(key => {
                    return {
                        name: this.SpaceEngineers[category][key].name,
                        href: '/' + category +'/' + key
                    };
                });
                links.unshift({
                    name: 'All ' + category,
                    href: '/' + category
                });
                return links;
            }
        }
    }
</script>

<style lang="scss" scoped>
    a.dropdown-toggle {
        cursor: pointer;
    }
</style>