<template>
    <div>
        <div class="row">
            <div class="form-group col-2">
                <label>Yield Modules:</label>
                <select v-model="yield" class="form-control">
                    <option :value="0">None</option>
                    <option :value="1">One</option>
                    <option :value="2">Two</option>
                    <option :value="3">Three</option>
                    <option :value="4">Four</option>
                </select>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Material</th>
                <th>Amount</th>
                <th>Weight</th>
                <th>Volume</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="refined in materials" class="clickable" @click="$router.push('/Materials/' + refined.material.id)">
                <td>{{ refined.material.name }}</td>
                <td>{{ refined.amount.toFixed(3) }}</td>
                <td>{{ weight(refined.amount * refined.material.weight) }}</td>
                <td>{{ volume(refined.amount * refined.material.volume) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "Refinery",
        props: ["ore", "amount"],
        data() {
            return {
                yield: 0
            }
        },
        computed: {
            materials() {
                return this.SpaceEngineers.Services.Ore.Refine(this.ore, this.amount, this.yield);
            }
        }
    }
</script>