<template>
    <div id="app">
        <Navbar/>
        <div class="container pt-4">
            <div class="main">
                <router-view/>
            </div>
        </div>
    </div>
</template>

<script>
    import Navbar from "@/components/Navbar.vue";

    export default {
        name: "App",
        components: {
            Navbar
        }
    }
</script>